nav {
	width:100%;
	display:flex;
	flex-direction: row;
	align-items: center;
	margin:0 -15px;
	background-color:#fff;
	margin: 0 0 3em 0;
	padding:1em 0em;
}

nav a {
	text-align: center;
	margin:0 15px;
	background-color:#eee;
	flex-grow: 1;
	height:3em;
	display:inline-block;
	display: flex;
	align-items: center;
	justify-content: center;
	color:#000;
	text-decoration: none;
	-webkit-transition: background .3s ease-out, color .3s ease-out;
	-moz-transition: background .3s ease-out, color .3s ease-out;
	-ms-transition: background .3s ease-out, color .3s ease-out;
	-o-transition: background .3s ease-out, color .3s ease-out;
	transition: background .3s ease-out, color .3s ease-out;
}

nav a:hover {
	background-color:#000;
	color:#fff;
}
